/******************************************************************************
                        KIND Studios gr Five Cell scaffold
                                v0.1 2012-04-27
 ******************************************************************************/

body{
    position:relative;
}
div.stylesheetMarker div{
    text-align: right;
    display: none;
}
hr.hidden{background-color: transparent;}

div#page{margin-top: 3%;}

/***** 400px *****/
div.container
{
    width:410px;
    font-size: 1.1em;
    overflow: hidden;
}
div#mainmenu{
    position:relative;
    width:410px;
    font-size: 1.4em;
    margin: auto;
}
div#main span.title{
    font-size: 1.4em;
    width: 100%;
}
div#main .project.high-1 span.title{
    max-width: 33%;
}

/*div.merge div.tile,*/
div.tiles div.merge,
div.tiles div.tile{
    float:left;
    margin-right:8px;
    margin-bottom:8px;
    min-height: 128px;
    display: inline-block;
    overflow: hidden;
    position:relative;
}
div#mainmenu.tiles div{
    overflow: visible;
}
div.tiles div.film_strip{
    margin: 0;
}
div.tiles div a.button:link,div.tiles div a.button:hover, div.tiles div a.button:active,div.tiles div a.button:visited{
    position:relative;
    display:block;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
div.tiles div img{
    position:relative;
    z-index: 1;
}
div.tiles span.title{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    
}
div.tiles span.descriptor{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
}

div.wide-1{
    width:128px;
    min-width: 128px;
}
div#mainmenu div.wide-2,
div.wide-2{
    width:264px;
    min-width: 264px;
}
div.wide-3,div.wide-4,div.wide-5{
    width:400px;
    min-width: 400px;
}


div.high-1{height:128px;min-height: 128px;}
div.high-3,
div.high-4,
div.high-5,
div.high-2{height:264px;min-height: 264px;}
/** on single column layouts heights bigger than 2 look weird so I sum them upp
    on high-2*/


div.tiles > div.merge{background-color: transparent; overflow:hidden;}
div.merge > div.last{margin-right: 0}

div.tiles img.centered{
    position: absolute;
    top: 40%;
    bottom: 40%;
    left:40%;
    right:40%;
    width:20%;
}


@media (max-width: 671px) {
    div.wide-1.last{width:264px;min-width: 264px; margin-right: 0;}
    div.wide-2.last{width:400px;min-width: 400px; margin-right: 0;}
    div.merge.first{width: 100%;}
    div.tiles > div.merge{ margin-right: 0;}

    /** on single column layouts heights bigger than 2 look weird */
    div.merge.high-3{height:400px;min-height: 400px;}
    div.merge.high-4{height:536px;min-height: 536px;}
    div.merge.high-5{height:672px;min-height: 672px;}
    /**/
}


/** Main Menu **/
#mainmenu ul li,#mainmenu ul li a:visited,#mainmenu ul li a:active,#mainmenu ul li a:link
{
        display: inline-block;
        color: #999;
        min-height: 1.2em;
        overflow: visible;
        margin-left: 8px;
        text-decoration: none;
        border: none;
        border-bottom: .08em solid transparent;
        width:auto;
}
#mainmenu ul{margin:8px;padding: 0;display: inline-block;position:relative}
/** **/


/***** larger than 400px *****/
@media (min-width: 672px) { /* was 700*/
    div.container
    {
        width:672px;
        font-size: 1.3em;
        overflow: hidden;
    }

    div#main span{
        font-size: 1.3em;
    }
    div#main span.title{
        font-size: 1.45em;
    }


    div#mainmenu{
        position:relative;
        width:672px;
        font-size: 1.45em;
        margin: auto;
    }
    

    div.tiles div.tile{
        margin-right:8px;
        margin-bottom:8px;
        min-height: 128px;
    }
    div.tiles div.last{margin-right: 0;}
    div.wide-1{width:128px;min-width: 128px;}
    div.wide-2{width:264px;min-width: 264px;}
    div.wide-3{width:400px;min-width: 400px;}
    div.wide-4{width:536px;min-width: 536px;}
    div.wide-5{width:672px;min-width: 672px;}
    div#mainmenu div.wide-2{width:536px;min-width: 536px;}

    div.high-3{
        height:400px;
        min-height: 400px;
    }
    div.high-4{
        height:536px;
        min-height: 536px;
    }
    div.high-5{
        height:672px;
        min-height: 672px;
    }
    #mainmenu ul li a{
        min-width:128px;
}
}


@media ( min-width: 960px ) {
    div.container
    {
        width:672px;
        font-size: 1.32em;
        overflow: hidden;
        position:relative;
    }

    div#main span{
        font-size: 1.32em;
    }
    div#main span.title{
        font-size: 1.66em;
    }

    div#mainmenu{
        position:absolute;
        width:128px;
        font-size: 1.66em;
        left:-138px;
        float:left;
        z-index:1;
    }
    div.mainmenu.container{
        overflow:visible;
    }
    div#mainmenu ul,
    div#mainmenu div.wide-2
    {width:128px;min-width: 128px;}
    #mainmenu ul, #mainmenu ul li{margin:0;}
/*    div#mainmenu ul li a{position:absolute; right:.2em;}*/
    #mainmenu ul li a:visited,#mainmenu ul li a:active,#mainmenu ul li a:link
    {margin:0; position:relative; right:.2em; overflow:hidden; height:auto; width:auto;}
    div#mainmenu ul li
    { padding:.1em; padding-bottom:0; text-align:right; overflow:visible; position:relative; display:block}
    /*div#mainmenu div.high-1{height:500px;min-height: 500px;}*/
    
}



@media ( min-width: 1260px ) {
    div.container
    {
        width:870px;
        font-size: 1.5em;
        overflow: hidden;
    }

    div#main span{
        font-size: 1.5em;
    }
    div#main span.title{
        font-size: 1.84em;
    }

    div#mainmenu{
        position:absolute;
        width:177px;
        font-size: 1.84em;
        left:-177px;
        float:left;
        z-index:1;
    }

    div.tiles > div.merge,
    div.tiles div.tile{
        margin-right:15px;
        margin-bottom:15px;
        min-height: 162px;
    }
    div.tiles div.last{margin-right: 0;}
    div.wide-1{width:162px;min-width: 162px;}
    div.wide-2{width:339px;min-width: 339px;}
    div.wide-3{width:516px;min-width: 516px;}
    div.wide-4{width:693px;min-width: 693px;}
    div.wide-5{width:870px;min-width: 870px;}
    div.high-1{height:162px;min-height: 162px;}
    div.high-2{height:339px;min-height: 339px;}
    div.high-3{height:516px;min-height: 516px;}
    div.high-4{height:693px;min-height: 693px;}
    div.high-5{height:870px;min-height: 870px;}
    div#mainmenu ul, div#mainmenu div.wide-2{width:162px;min-width: 162px;}
}